body    {  background:#e7e7e7;}

#box    {  width:180px;
           height:180px;
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          background:url(dna.jpg);
          background-size:cover;
          border-radius:5px;
          overflow:hidden;}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding:5px 0 66px 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;
               -moz-transition: opacity .25s ease;}

#box:hover #overlay {
               opacity:1;}

#plus       {  font-family:sans-serif;
               font-weight:300;
               color:rgba(255,255,255,.85);
               font-size:16px;}

