h2.jumb5h{

	
	margin-top: 60px;
}

.jumbotron5{
	background-color: #2c343b;
	color: black;
	height: 660px;
	padding-top: 10px;
}
div.myform{
	margin-left: 130px;
	padding-top: 50px;
}


///last page
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}





.grid {
  position: relative;
  text-align: center;
}

.fellow {
  box-sizing: border-box;
  display: inline-block;
  width: 47%;
  margin: 1%;
  margin-top: 0;
  vertical-align: top;
  text-align: left;
  -webkit-transition: left 1s, top 1s, width 1s, height 1s, padding 1s;
  -moz-transition: left 1s, top 1s, width 1s, height 1s, padding 1s;
  transition: left 1s, top 1s, width 1s, height 1s, padding 1s;
}

.fellow.closed {
  cursor: pointer;
}

.fellow.closed .right *,
.fellow.closed .close,
.fellow.closed .meta {
  display: none !important;
}

.fellow.open {
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  overflow-y: scroll;
  cursor: default;
  padding: 3em 0.5em 0.5em;
}

.fellow .left {
  width: 100%;
  -webkit-transition: left 1s, top 1s, width 1s, height 1s;
  -moz-transition: left 1s, top 1s, width 1s, height 1s;
  transition: left 1s, top 1s, width 1s, height 1s;
}

.fellow .right * {
  display: none;
  -webkit-transition: left 1s, top 1s, width 1s, height 1s;
  -moz-transition: left 1s, top 1s, width 1s, height 1s;
  transition: left 1s, top 1s, width 1s, height 1s;
}

.fellow img {
  width: 100%;
}

.fellow .meta {
  text-align: center;
  padding: 1em;
  display: none;
}

.fellow .close {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  display: none;
  cursor: pointer;
}

.fellow .close:hover {
  text-decoration: underline;
}

@media only screen and (min-width:43.75em) {
  .fellow {
    box-sizing: border-box;
    display: inline-block;
    width: 18%;
    margin: 1%;
  }
  .fellow .right,
  .fellow .left {
    float: left;
    display:block;
  }
  .fellow:after {
    display: block;
    content: '';
    clear: both;
  }
  .fellow .right {
    width: 60%;
    margin-left: 4%;
  }
}
